/*all pages*/

* {
	font-family: tahoma;
	padding: 0px;
	margin: 0px;
}

.background {
	min-height: 100%;
	max-height: auto;
	min-width: 100%;
	max-width: auto;
}

/*main page*/

.content {
	min-height: 50%;
	max-height: auto;
	text-align: center;
}

.jumbostyles {
	padding: 0px;
	text-align: center;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    text-align: center;
}

.carousel-inner > .item > a > img{
    margin: 0 auto;
    text-align: center;

}

/*advertising block*/

iframe {
	text-align: center;
}

h3 {
	color: black;
	background-color: white;
}

h3 a {
	color: black;
}

/*article page */
.lefty, img{
	text-align: center;
}

h2 {
	text-align: center;
}

/*nav bar*/

.navstyles {
	vertical-align: center;
}

.input-group, .input-group-btn {
	color: pink;
}

/*ads*/

.ads {
	text-align: center;
}

.ads a {
	color: black;
}

footer {
	padding-left: 5%;
}