/*all pages*/

* {
	font-family: Tahoma;
	padding: 0px;
	margin: 0px;
}

.background {
	min-height: 100%;
	max-height: auto;
	min-width: 100%;
	max-width: auto;
}

/* logo */
.logo {
	font-family: impact;
	font-weight: bold;
	text-decoration: none;
}

/*main page*/

.content {
	min-height: 50%;
	max-height: auto;
	text-align: center;
}

.jumbostyles {
	padding: 0px;
	text-align: center;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    text-align: center;
}

.carousel-inner > .item > a > img{
    margin: 0 auto;
    text-align: center;

}

h3, a {
	background-color: white;
}

/*overflow articles*/
.non_carousel {
	text-align: center;
}

/*article page */
.top-pic{
	text-align: center;
}

h2 {
	text-align: center;
}

/*nav bar*/

.navstyles {
	vertical-align: center;
}

/*ads*/

.top_ad {
	text-align: center;
}

.ads {
	text-align: center;
}

footer {
	padding-left: 10%;
}

/* bottom ads */

iframe {
	text-align: center;
}

.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.read_more {
	text-align: center;
	margin-bottom: 50px;
}

.bottom_ad, button {
	text-align: center;
}

/* article page */
.top_pic img {
	text-align: center;
}

.article {

}