<html>
<head>
	<title>Low Rent Gent</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'blogposts/styles.css' %}">	
	<!-- Bootstrap -->
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css">

	<!-- jQuery for Bootstrap -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.js"></script>

	<!-- Javascript for Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>
</head>

<body>
<div class = "background">
	<div class = "container">
		<H1>LOW RENT GENT</H1>
		<!-- nav bar -->
			<div class = "row">
				<nav class = "navbar navbar-default">
					<div class = "container-fluid">
						<div class = "navbar-header">
							<ul class = "nav navbar-nav" class = "col-md-9">
								<li><a href="/home">Home</a></li>
								<li><a href="/home/all">Articles</a></li>
								<li><a href="/home/search">Search Articles</a></li>
							</ul>    
						</div>
					</div>
				</nav>
			<!-- nav bar ends -->
			</div>	

	<!-- Form for searching the database -->
I AM THE INFORMATION PAGE OF THIS BLOG. I TALK ABOUT WHAT THE BLOG IS ABOUT AND WHAT TO DO ABOUT IT.

	<!-- class container ends -->
	</div>
<!-- class background class ends -->
</div>
</body>

<hr>
<footer>
	<a href="/home/about">About</a>
</footer>