<html>
<head>
	<title>Low Rent Gent</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'blogposts/styles.css' %}">	
	<!-- Bootstrap -->
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css">

	<!-- jQuery for Bootstrap -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.js"></script>

	<!-- Javascript for Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>
</head>

<body>
	<div class = "background">
		<div class = "container">
			<h1 class = "logo">LOW RENT GENTS</h1>
			<!-- nav bar -->
			<div class = "row">
				<nav class = "navbar navbar-default">
					<div class = "container-fluid">
						<div class = "navbar-header">
							<ul class = "nav navbar-nav">
								<li><a href="/">Home</a></li>
								<li><a href="/all">Articles</a></li>
								<li><a href="/search">Search Articles</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div> <!-- nav bar ends -->
			<!-- top ads -->
			<div class = "top_ad">
				<div class="alignleft">
				<script type="text/javascript">
				amzn_assoc_ad_type = "banner";
				amzn_assoc_marketplace = "amazon";
				amzn_assoc_region = "US";
				amzn_assoc_placement = "assoc_banner_placement_default";
				amzn_assoc_campaigns = "kuft";
				amzn_assoc_banner_type = "category";
				amzn_assoc_isresponsive = "true";
				amzn_assoc_banner_id = "19P4Y3M8FNN5JYX3PJ82";
				amzn_assoc_tracking_id = "fivpoipod-20";
				amzn_assoc_linkid = "bea49306b42e0a94b6ca7ae823987336";
				</script>
				<script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
				</div>
			</div>			
			<br>

	<!-- Form for searching the database -->
I AM THE INFORMATION PAGE OF THIS BLOG. I TALK ABOUT WHAT THE BLOG IS ABOUT AND WHAT TO DO ABOUT IT.

	<!-- class container ends -->
	</div>
<!-- class background class ends -->
</div>

	<!-- bottoms ads -->
	<div class = "bottom_ad">
		<script type="text/javascript">
		amzn_assoc_placement = "adunit0";
		amzn_assoc_search_bar = "true";
		amzn_assoc_tracking_id = "fivpoipod-20";
		amzn_assoc_ad_mode = "manual";
		amzn_assoc_ad_type = "smart";
		amzn_assoc_marketplace = "amazon";
		amzn_assoc_region = "US";
		amzn_assoc_title = "My Amazon Picks";
		amzn_assoc_linkid = "7c8ad5d1937204bbc6411eec6fc7c0c0";
		amzn_assoc_asins = "B01GW3GM7I,B018V3ISJ2,B018Y227MY,B00GDQ0RMG";
		</script>
		<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
	</div>

</body>

<hr>
<footer>
	<a href="/about">About</a>
</footer>