<html>
<head>
	<title>Low Rent Gent</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'blogposts/styles.css' %}">	
	<!-- Bootstrap -->
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css">

	<!-- jQuery for Bootstrap -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.js"></script>

	<!-- Javascript for Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>
</head>

<body>
	<div class = "background">
		<div class = "container">
			<h1 class = "logo">LOW RENT GENT</h1>
			<!-- nav bar -->
			<div class = "row">
				<nav class = "navbar navbar-default">
					<div class = "container-fluid">
						<div class = "navbar-header">
							<ul class = "nav navbar-nav">
								<li><a href="/">Home</a></li>
								<li><a href="/all">Articles</a></li>
								<li><a href="/search">Search Articles</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div> <!-- nav bar ends -->

			<!-- top ads -->
			<div class = "top_ad">
				<iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=13&l=ez&f=ifr&linkID=46d24142611b00416ac40dcb21244cc6&t=fivpoipod-20&tracking_id=fivpoipod-20" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
			</div>			
			<br>

<!-- Displays the article. -->
<div class = "top_pic col-md-5">
		<img class = "img-responsive" style = "border: 1px solid black; height: 50%" style = "width: 50%" src="{{request.session.article.0.blog_image}}">

</div>

<div class = "article col-md-7">
	<div>
		<h2>{{request.session.article.0.blog_headline}}</h2>
		<hr>
		<p>By: {{request.session.article.0.blog_author}}</p>
		<p>Published: {{request.session.article.0.blog_date}}</p>
	</div>
	<p>{{request.session.article.0.blog_article|safe}}</p>
</div>
	<!-- class container ends -->
	</div>
<!-- class background class ends -->
</div>
<hr>
<!-- ads -->
	<div class = "ads">
		<h4>Support us by clicking the link and shopping at Amazon!</h4>
		<h5>Come on, you know you shop at Amazon anyway!</h5>
		<a href="http://amzn.to/28QuaRO">Please, my nonexistant children are starving!</a>
		<br>
		<iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=9&l=ez&f=ifr&linkID=b12c749711b23da1cb5db983f847fe41&t=fivpoipod-20&tracking_id=fivpoipod-20" width="180" height="150" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
	</div>
</body>
</html>

<hr>
<footer>
	<a href="/about">About</a>
</footer>