<html>
<head>
	<title>High Life, Low Cost</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'blogposts/styles.css' %}">	
	<!-- Bootstrap -->
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css">

	<!-- jQuery for Bootstrap -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.js"></script>

	<!-- Javascript for Bootstrap -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>
</head>

<body>
<div class = "background">
	<div class = "container">
		<!-- nav bar -->
			<div class = "row">
				<nav class = "navbar navbar-default">
					<div class = "container-fluid">
						<div class = "navbar-header">
							<ul class = "nav navbar-nav" class = "col-md-9">
								<li><a href="/home">Home</a></li>
								<li><a href="/home/page_add">Add Articles (temporary)</a></li>
								<li><a href="/home/search">Search Articles</a></li>
							</ul>
						</div>
					</div>
				</nav>
			<!-- nav bar ends -->
			</div>	

	<!-- Form for searching the database -->
<div class = "lefty col-md-5"><img style = "height: 50%" src="{{request.session.article.0.blog_image}}"></div>
<div class = "righty col-md-7">
	<div>
		<h2>{{request.session.article.0.blog_headline}}</h2>
		<p>By: {{request.session.article.0.blog_author}} {{request.session.article.0.blog_date}}</p>
	</div>
</div>
<p>{{request.session.article.0.blog_article|safe}}</p>
	<!-- class container ends -->
	</div>
<!-- class background class ends -->
</div>


</body>
</html>