<html>
<head>
	<title>Low Rent Gent</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'blogposts/styles.css' %}">	
	<!-- Bootstrap -->
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css">

	<!-- jQuery for Bootstrap -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.js"></script>

	<!-- Javascript for Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>
</head>

<body>
	<div class = "background">
		<div class = "container">
			<h1 class = "logo">LOW RENT GENTS</h1>
			<!-- nav bar -->
			<div class = "row">
				<nav class = "navbar navbar-default">
					<div class = "container-fluid">
						<div class = "navbar-header">
							<ul class = "nav navbar-nav">
								<li><a href="/">Home</a></li>
								<li><a href="/all">Articles</a></li>
								<li><a href="/search">Search Articles</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div> <!-- nav bar ends -->
			<!-- top ads -->
			<div class = "top_ad">
			</div>			
			<br>

	<!-- Form for searching the database -->
<h1>Search for Articles</h1>
<br>
<form action = "/query/" method = "post">
	{% csrf_token %}
	{{ form.as_table }}
	<input type = "submit" value = "Find">
</form>

<h3>Results:</h3>
<hr>
{% if request.session.results.0 == 'Your results will show up here.' %}
	<h5>{{request.session.results.0}}</h5>
	{% else %}
	{% for item in request.session.results %}
		<a href="/article/{{item.id}}"><h5>{{item.blog_headline}}</h5></a>
		<h5>By: {{item.blog_author}} Date: {{item.blog_date}}</h5>
		<hr>
	{% endfor %}
{% endif %}

	<!-- class container ends -->
	</div>
<!-- class background class ends -->
</div>
</body>
<hr>
<footer>
	<a href="/about">About</a>
</footer>
</html>